{% extends "ProdavnicaTrotineta/base.html" %}
{% load static %}
{% block title %} {% if segment %}{{ segment.naziv }}{% else %}Trotineti{% endif %}
{% endblock %}
{% block content %}
<div id="sidebar"><h3>Segmenti</h3>
    <ul>
        <li {% if not segment %}class="selected" {% endif %}>
            <a href="{% url 'ProdavnicaTrotineta:ListaTrotineta' %}">All</a> </li>
        {% for c in segmenti %}
        <li {% if segment.slug == c.slug %}class="selected" {% endif %}>
            <a href="{{ c.ApsolutniURL }}">{{ c.naziv }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<div id="main" class="product-list">
    <h1>{% if segment %}{{ segment.naziv }}{% else %}Trotineti{% endif %}</h1>
    {% for trotinet in trotineti %}
    <div class="item">
        <a href="{{ trotinet.ApsolutniURL }}">
            <img src="{% if trotinet.slika %}{{ trotinet.slika.url }}
{% else %}{% static 'img/no_image.png' %}{% endif %}"></a>
        <a href="{{ trotinet.ApsolutniURL }}">{{ trotinet.naziv }}</a>
        <br>
        &euro;{{ trotinet.cena }}
    </div>
    {% endfor %}
</div>
{% endblock %} 